.nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav li a {
    display: block;
    padding: 5px 10px;
}

#nav #mobile,
#nav .mobile {
    display: none;
}

@media only screen and (min-width: 100px) and (max-width: 1024px) {


    #nav .mobile {
        display: block;
        font-size: 30px;
        color: #FFF;
        position: absolute;
        top: 50px;
        right: 25px;
        background: #444 url(/assets/img/nav.png) no-repeat center center;
        height: 40px;
        width: 40px;
        border-radius: 5px;
    }

    #nav ul {
        display: none;
    }

    #nav #mobile {
        display: block;
        position: absolute;
        top: 50px;
        right: 25px;
        height: 40px;
        width: 40px;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    };
}